<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/pop-up.css">
    <link rel="stylesheet" href="../public/css/services.css">

    <title>Services | Legal Pirates</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar" style="--blur:0">
        <div class="nav-logo">
            <img draggable="false" src="../public/images/logo_updated.png" alt="Legal pirates" />
        </div>
        <ul class="nav-link-container">
            <li class="nav-link home-link" data-current="home"
                style="--text:'Home'; --translate:0;--after-color:transparent">
                <a href="#home">Home</a>
            </li>
            <li class="nav-link projects-link" data-current="projects"
                style="--text:'Projects';--translate:-110%;--after-color:transparent">
                <a href="#projects">Projects</a>
            </li>
            <li class="nav-link technologies-link" data-current="technologies"
                style="--text:'Technologies';--translate:-110%;--after-color:transparent"><a
                    href="#technologies">Technologies</a></li>
            <li class="nav-link about-link" data-current="about"
                style="--text:'About';--translate:-110%;--after-color:transparent"><a href="#about">About</a></li>
        </ul>
        <div class="ham-btn"><span class="ham-middle"></span></div>
    </nav>


    <!-- pop-up-section -->
    <!-- <section class="pop-up-section">
        <div class="pop-up-div"></div>
        <img draggable="false" class="cross-button" src="https://img.icons8.com/ios/50/ffffff/x.png" />
    </section> -->



    <section class="service-main-section">
        <!-- <img draggable="false" class="services-piggy" src="../public/images/services.png" alt=""> -->
        <div class="service-div">
            <h1>Services</h1>
        </div>
    </section>
    <section class="services-boxes">
        <div class="main-all-boxes">

            <a href="#mobile-app-column">
                <div class="box box1 mobile-app-box"></div>
            </a>
            <a href="#wordpress-column">
                <div class="box box2 wordpress-box"></div>
            </a>
            <a href="#web-dev-column">
                <div class="box box3 web-dev-box"></div>
            </a>
        </div>
    </section>
    <section class="services-column">
        <div class="columnbox-all">
            <div class="columnbox mobile-app-column" id="mobile-app-column">
                <div class="column-image">
                    <img draggable="false" src="https://images.unsplash.com/photo-1620228885847-9eab2a1adddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80"
                        alt="">
                </div>
                <div class="column-content">
                    <h2>Mobile App Developing</h2>
                    <p>Your cross-platform mobile app will enable employees to work more efficiently our customers to
                        interact with you, no matter where they are or what mobile device they use.
                    </p>
                    <p>The tools used for making a mobile app was React-Native, Node, Mysql, Mongo and so on</p>
                </div>
            </div>



            <div class="columnbox wordpress-column" id="wordpress-column">
                <div class="column-image">
                    <img draggable="false" src="https://images.unsplash.com/photo-1616469832301-ffaeadc68cf3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt="">
                </div>
                <div class="column-content">
                    <h2>Wordpress</h2>
                    <p>WordPress powers more than 17% of the web - a figure that rises every day.Everything from simple
                        websites, to blogs, to complex portals and enterprise websites, and even applications, are built
                        with WordPress.
                    </p>
                    <p> WordPress combines simplicity for users and publishers with under-the-hood complexity for
                        developers. This makes it flexible while still being easy-to-use.</p>
                    <p>Here are some of the features
                    <ol>
                        <li>Publish with Ease</li>
                        <li>Easy Theme System</li>
                        <li>Full Standards Compliance</li>
                        <li>Publishing Tools</li>
                    </ol>
                    </p>
                </div>
            </div>



            <div class="columnbox web-dev-column" id="web-dev-column">
                <div class="column-image">
                    <img draggable="false" src="https://images.unsplash.com/photo-1517503733723-8ea1cf616798?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt="">
                </div>
                <div class="column-content">
                    <h2>Website Developing</h2>
                    <p>We can Develop complex and robust web applications. Our team has experience with all popular web
                        technologies, open source solutions and is fully capable of developing custom pieces when
                        needed.</p>
                    <p>We develop professional and beautiful websites that reflect the brand of your business or
                        organisation. The wide range of services offered by us includes </p>
                    <p>website design and development, customised web application, web hosting, web programming, website
                        redesign etc. </p>
                    <p>The tools used to make a website was HTML, CSS, Javascript, ReactJS, AngularJS, NodeJS, MySQL,
                        MongoDB</p>
                </div>
            </div>

        </div>
    </section>

    <!-- footer -->
    <footer>
        <section class="footer">
            <div class="footer-div">
                <div class="footer-box footer-box1">
                    <div class="social-media-icons">
                        <a href="https://www.instagram.com/legalpirates/" target="_blank"><img draggable="false"
                                class="instagram-social-media" src="../public/images/instgram.png" alt="Instgram"></a>
                        <a href="https://www.linkedin.com/company/legal-pirates/" target="_blank"><img draggable="false"
                                class="linkedin-social-media" src="../public/images/Linkedin-Logo.png"
                                alt="Linkedin"></a>
                    </div>
                </div>
                <div class="footer-box footer-box3">
                    <div class="logo-footer">
                        <img draggable="false" src="../public/images/logo_updated.png" alt="LP">
                    </div>
                    <div class="heading-footer">
                        <h1>Legal Pirates</h1>
                    </div>
                </div>
                <div class="footer-box footer-box2">
                    <!-- <h1>Legal Pirates</h1> -->
                    <h2>Overview</h2>
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="">Technologies</a></li>
                        <li><a href="">Projects</a></li>
                        <li><a href="">Home</a></li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </section>
    </footer>



    <!-- <script src="../public/javascript/pop-up.js"></script> -->
    <script src="../public/javascript/nav.js"></script>
    <script src="../public/javascript/services.js"></script>
</body>

</html>