<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/services.css">
    <title>Services | Legal Pirates</title>
</head>

<body>
    <section class="update-main-section">
        <div class="update-div">
            <h1>Services</h1>
        </div>
    </section>
    <section class="updates-boxes">
        <div class="main-all-boxes">

            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            
        </div>
    </section>
    <section class="updates-column">
        <div class="columnbox-all">
            <div class="columnbox">
                <div class="column-image">
                    <img src="https://content.techgig.com/photo/83600041/what-it-takes-for-technologies-to-go-from-breakthrough-to-big-time.jpg?27767" alt="">
                </div>
                <div class="column-content">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis soluta, ea maiores expedita
                        iure iusto inventore similique odit architecto minus, alias velit? Suscipit, recusandae esse.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>