.navbar {
	width: 100%;
	height: 5rem;
	position: fixed;
	display: flex;
	background: transparent;
	backdrop-filter: blur(var(--blur));
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	z-index: 10;
}

.nav-logo {
	width: 7rem;
}

.nav-logo img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.nav-link-container {
	display: flex;
	position: relative;
	justify-content: space-between;
	list-style-type: none;
	width: 50%;
	transition: all.3s ease-in-out;
}

.nav-link {
	text-align: center;
	margin: 0;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	transition: all 1s ease-in-out;
	cursor: pointer;
}

.nav-link-container .nav-link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c72589;
	transform: translateX(var(--translate));
	transition: all 0.1s linear;
}
.nav-link-container .nav-link::after {
	content: var(--text);
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 2px;
	background-color: var(--after-color);
	border-radius: 20px;
}

.nav-link a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	font-family: 'Zilla Slab', serif;
}

.ham-btn {
	position: absolute;
	right: 10%;
	z-index: 10;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	cursor: pointer;
}

.ham-middle {
	width: 100%;
	height: 0.3rem;
	background-color: white;
	border-radius: 10px;
	margin: 0.5rem 0;
}

.ham-middle::before,
.ham-middle::after {
	position: absolute;
	content: '';
	border-radius: 10px;
	width: 100%;
	height: 0.3rem;
	background-color: white;
}

.ham-middle::before {
	top: 0;
}

.ham-middle::after {
	bottom: 0;
}

@media only screen and (max-width: 1150px) {
	.nav-link-container {
		width: 70%;
	}
}

@media only screen and (max-width: 700px) {
	.nav-link-container {
		width: 100%;
		flex-direction: column;
		position: absolute;
		top: 5rem;
		left: 0;
		background-color: rgba(0, 0, 0, 1);
		backdrop-filter: blur(30px);
		align-items: center;
		transform: translateY(-200%);
		z-index: -1;
	}

	.nav-link-container.open {
		transform: translateY(0);
	}

	.nav-link-container .nav-link {
		margin: 1rem 0;
		width: fit-content;
	}

	.ham-btn {
		display: flex;
	}
}
